@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
@import url('./variables.css');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

hr {
  color: #7e7e7e;
  margin: 1rem auto;
  width: 95%;
}

@media only screen and (max-width: 680px) {
  html {
    font-size: 8px;
  }
}
