:root {
  /* Colors */
  --primary-color: #204080;
  --secondary-color: #4f75c2;
  --text-color: #090A0A;
  --light-text-color: #6C7072;;
  --lighter-text-color: #72777A;
  --list-hover-color:rgba(79, 117, 194, 0.21);
  --input-hover-color: background: rgba(100, 100, 100, 0.08);
  --label-color:#686868;
  --label-error-color: rgba(255, 0, 0, 0.7);
  --error-text-color: rgba(255, 0, 0, 0.5);
  --footer-color: rgba(41, 78, 152, 0.72);

  /* Borders */
  --input-border: border: 1.5px solid #484848;
  --input-hover-border: 2px solid rgba(72, 72, 72, 0.6);
  --input-error-border: 1.5px solid #FF0000;
}
