.header {
  width: 100%;
}

.headerBox {
  display: flex;
  padding: 2.7rem 3.7rem;
  justify-content: space-between;
  align-items: center;
}

.logoBox {
  margin-right: 3.5rem;
  display: flex;
  align-items: center;
}

.formBox {
  flex: 1;
}

.form {
  display: flex;
}

.form input {
  margin-right: 2.4rem;
}

.addBox {
  margin-left: 10.3rem;
}

.returnBox {
  margin-left: 4rem;
}

.returnBtn {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: var(--button-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.returnBtn img {
  margin-right: 1.2rem;
}
