.footerBox {
  margin-top: 5.8rem;
  background: var(--secondary-color);
}

.footerContent {
  display: flex;
  align-items: center;
  padding: 2.7rem 5.3rem;
}

.footerInf {
  margin: 0 3.1rem;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.footerInf p {
  font-weight: 400;
}

.footerLoc {
  margin-left: auto;
}
