.footerBox {
  width: 100%;
  margin-top: 5.8rem;
  background: var(--secondary-color);
}

.footerContent {
  display: flex;
  align-items: center;
  padding: 2.7rem 5.3rem;
}

.footerContent img {
  width: 100%;
  height: auto;
}

.footerInf {
  margin: 0 3.1rem;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.footerInf p {
  font-weight: 400;
}

.footerLoc {
  margin-left: auto;
}

.footerImgBox {
  flex: 2;
}

.locationBox {
  flex: 3;
}

.informationBox {
  flex: 6;
}

.footerImg {
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1280px) {
  .footerImgBox {
    display: none;
  }
}

@media only screen and (max-width: 680px) {
  .locationBox {
    display: none;
  }
}
