.searchBox {
  margin-top: 4.1rem;
  width: 60%;
  margin-inline: auto;
}

/* .form input {
  padding-left: 4.8rem;
  margin-right: 1.1rem;
} */

.formBox {
  flex: 1;
}

.form {
  display: flex;
  position: relative;
}

.form input {
  margin-right: 2.4rem;
}

.homeInput {
  padding-left: 4.8rem !important;
}

.addBox {
  margin-left: 10.3rem;
}

.returnBox {
  margin-left: 4rem;
}

.icon {
  position: absolute;
  top: 50%;
  left: 15px;
  height: 1.8rem;
  transform: translateY(-50%);
}
